extends ./layout/index


block contenido 
    main.container.mt-5
        .row    
            .col-md-5
                img(src='img/nosotros.jpg' alt="imagen sobre nosotro", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris volutpat, libero quis dictum efficitur, nisi dolor facilisis ligula, tempus congue purus nibh sit amet diam. Nulla ut vestibulum magna. Nullam efficitur vulputate tortor vitae feugiat. Aenean placerat ligula lorem, in blandit nisl aliquet ac. Sed tempor purus a lectus pellentesque varius. Curabitur lobortis neque vitae ipsum dapibus, eget tincidunt neque convallis. Phasellus mollis lacinia erat, pellentesque posuere nisl. Sed facilisis sem et posuere finibus. Mauris vel sem sed est congue varius. Fusce eleifend malesuada erat, ac iaculis purus semper in. Morbi facilisis purus eros, vel vehicula quam tristique ac. Vestibulum pretium ultrices pulvinar. Suspendisse potenti. Ut quis rutrum felis, quis volutpat justo. Nulla consectetur ligula elit, at luctus orci semper sed.

                p vel pulvinar nisl. Mauris felis metus, facilisis lobortis diam in, mollis molestie magna. Nullam tincidunt aliquet mauris, a efficitur arcu dictum eget. Proin tristique mattis nulla, eget blandit ex accumsan condimentum. Nullam hendrerit vestibulum consequat. Integer sagittis magna sed vehicula cursus. Phasellus volutpat nulla id erat fringilla, nec vestibulum justo imperdiet. Proin sit amet pulvinar nibh, eu elementum urna. Quisque rhoncus vehicula luctus. Aliquam vel rhoncus massa, non mattis odio. Quisque sollicitudin nec quam eget tincidunt.

                p in mauris nibh. Nullam eleifend aliquet urna quis auctor. Vivamus non congue metus. In condimentum, risus tincidunt convallis suscipit, nisi ex aliquet ipsum, at facilisis odio tellus eget erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur sodales blandit ornare. Fusce ut leo nisi. Duis tincidunt sagittis erat venenatis tristique.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid, mb-4")
                    h2.mb-4 Seguridad
                    p Ut in mauris nibh. Nullam eleifend aliquet urna quis auctor. Vivamus non congue metus. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destino", class="img-fluid, mb-4")
                    h2.mb-4 Mejores Destino
                    p Ut in mauris nibh. Nullam eleifend aliquet urna quis auctor. Vivamus non congue metus. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precio", class="img-fluid, mb-4")
                    h2.mb-4 Mejores Precios
                    p Ut in mauris nibh. Nullam eleifend aliquet urna quis auctor. Vivamus non congue metus.  

